$block : 'hero';
$air : 30px !default;
$air-between-items : $air * 4 !default;

.#{$block} {
  margin-bottom : $air-between-items;
}

.#{$block}__text {
  p {
    &:first-of-type {
      font-family : $font-georgia;
      font-style : italic;
    }
  }
}
