$block : 'map';
$air : 30px !default;
$air-between-items : $air * 4 !default;

.#{$block} {
  height : 960px;
  margin-bottom : $air-between-items;
}

@media #{ $media-phone } {
  .#{$block} {
    height : 75vh;
    margin-bottom : 0;
  }
}
