$block : 'person';
$air : 30px !default;
$air-between-items : $air * 4 !default;

.#{$block} {
  margin-bottom : $air-between-items;

  h1, h2, h3 {
    font-family : $font-pt-serif;
    font-size : $font-medium--something;
    color : $dark;
  }

  h4, h5, h6 {
    font-family : $font-lato;
    font-size : $font-small;
    font-weight : 700;
    color : lighten($dark, 50);
    text-transform: uppercase;
  }

  p {
    font-familyt : $font-lato;
    font-size : $font-medium;
    font-weight : 400;
    color : $dark;
  }
}

.#{$block}__text {
  margin-top : $air * 4;
  padding-right : $air * 4;
  padding-left : $air * 4;
}

@each $query in ( $media-tablet-landscape $media-tablet-and-phone ) {
  @media #{ $query } {
    .#{$block}__text {
      margin-top : $air * 2;
      padding-right : $air * 3;
      padding-left : 0;
    }

    .person:nth-child(even) .#{$block}__text {
      padding-right : 0;
      padding-left : $air * 3;
    }
  }
}

@media #{ $media-tablet-and-phone } {
  .#{$block}__text {
    padding-right : $air;
  }

  .person:nth-child(even) .#{$block}__text {
    padding-left : $air;
  }
}

@media #{ $media-phone } {
  .#{$block}__text {
    margin-top : 0;
    margin-bottom : $air;
    padding-left : 0 !important;
    padding-right : 0 !important;
  }
}
