$block : 'text-block';
$air : 30px !default;
$air-between-items : $air * 4 !default;

.#{$block} {
	padding : $air * 2 0 $air-between-items 0;

	h1, h2, h3, h4, h5, h6 {
		font-size : $font-large;
		font-family : $font-pt-serif;
		color : $dark;
	}

	p {
		font-size : $font-medium;
		font-family : $font-lato;
		color : $dark;

		&:first-of-type {
			font-family : $font-georgia;
			font-style : italic;
		}
	}
}

.#{$block}--center {
	h1, h2, h3, h4, h5, h6, p {
		text-align: center;
	}
}

.#{$block}--space-before {
	padding-left : $air * 3;
}

.#{$block}--space-after {
	padding-right : $air * 3;
}

@media #{ $media-phone } {
	.#{$block} {
		h1, h2, h3, h4, h5, h6 {
			font-size : $font-large--phone;
		}
	}
}
